<ul>
  {{#each beersFromApi}}
    <li>
      <a>
        <div>
            <img src="{{ image_url }}"/>
            </br>
            <strong>{{ name }}</strong>
            </br>
            <strong>{{ description }}</strong>
            </br>
            <strong>{{ tagline }}</strong>
        </div>
      </a>
    </li>
  {{/each}}
</ul>